{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-body text-center p-5">
            <h2 class="mb-3">Welcome to Smart Warehouse</h2>

            <p class="lead">
                Smart Warehouse Inventory Management Platform
            </p>

            <p>
                Manage products, stock, inventory and warehouse operations
                from one platform.
            </p>

        <a href="/dashboard/" class="btn btn-primary">
            Get Started
         </a>
        </div>
    </div>
</div>

{% endblock %}